@media print {
    .no-print {
        display: none!important;
    }

    @page {
        size: landscape
    }

    .page-break {
        page-break-after: always
    }
}

.box {
    border: 1px solid black;
    flex: 1;
    padding: 0px 2px;
}

.box-title {
    text-align: right;
    font-size: xx-small;
    margin-bottom: -10px;
    color: darkgray;
}

.print-monster-column {
    padding: 5px;
    width: 24%;
}

.print-monster-separator-top {
    border-right: 1px darkgray solid;
    height: 20px;
    margin-bottom: -20px;
    width: 100%;
    padding: 0 5px 0 0;
}

.print-monster-separator-bottom {
    border-right: 1px darkgray solid;
    height: 20px;
    margin-top: -20px;
    width: 100%;
    padding: 0 5px 0 0;
}

.print-monster-image-container {
    border-bottom: 5px double black;
    height: 200px;
}

.print-monster-image-container img {
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.print-monster-row {
    display: flex;
    padding: 1px 0px;
}

.image-result-container {
    flex: 1;
    padding: 5px;
}

.image-result-container:hover {
    filter: brightness(90%);
}

.statistic-score {
    border-bottom: 1px solid black;
    text-align: center;
}

.statistic-modifier {
    text-align: center;
}

.popup {
    border: 1px black solid;
    position: absolute;
    z-index: 1;
    background: white;
    padding: 10px;
}

.results-row {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
}